<div id="news">
    <h3 class="newsH3">Latest News</h3>
    <h4 id="newsH4"></h4>
    <p id="newsP"></p>
</div>

{{!-- <div id="buySellBtn">
    {{#if logged_in}}
    <button class="itemBtn" type="submit">List Item</button>
    {{/if}}
    <button class="itemBtn" type="submit">View Items</button>
</div>


<div id="displayList" class="scroll">

    {{{itemHorz}}} --}}
    
{{!-- </div> --}}



<script src="/js/news.js"></script>
<script>
    var item = document.getElementById("displayList");
    window.addEventListener("wheel", function (e) {
    if (e.deltaY > 0) item.scrollLeft += 80;
    else item.scrollLeft -= 80;
    });
</script>