
<div id="profileDetails">
    <h5 id="profileName" class="profileTag">NAME:</h5>
    <p id="profileP" class="profileOutput">{{userName}}</p>
    <h5 id="profileEmail" class="profileTag">EMAIL:</h5>
    <p id="profileP" class="profileOutput">{{userEmail}}</p>
</div>
            
<button class="itemBtn listFromProfile" id="profileList" type="submit">List Item</button>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- <span class="close">&times;</span> -->
        <div id = "container">
            <form id = "form">
            <h2 class="title">Create your new Listing</h2>
            <label for="name" class ="name listLabel">Item Name:</label>
            <input type="text" id="name" name="name" class="listInput" placeholder="Item Name" >
            <label for="price" class="price listLabel">Item Price:</label>
            <input type="text" id="price" name="price" class="listInput" placeholder="Sell Price">
            <label for="description" class ="description listLabel">Description:</label>
            <input type="text" id="description" name="description" class="listInput" placeholder="Description">
            <label for="image_link" class ="image_link listLabel">Image URL:</label>
            <input type="text" id="image_link" name="image_link" class="listInput" placeholder="Image URL">
    <!-- maybe have a box here to show the user id of the person who is adding the item -->

            </form>
        </div>
        <br/><br/>
        <button id="confirm" class="itemBtn">Confirm</button><button id="canx" class="itemBtn">Cancel</button>
    </div>

</div>
        <script src="/js/modal.js"></script>