
<div id="profileDetails">
    <h5 id="profileName" class="profileTag">NAME:</h5>
    <p id="profileP" class="profileOutput" data-value="{{user.id}}">{{user.name}}</p>
    <h5 id="profileEmail" class="profileTag">EMAIL:</h5>
    <p id="profileP" class="profileOutput">{{user.email}}</p>
</div>
            
<button class="itemBtn listFromProfile" id="profileList" type="submit">List Item</button>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <!-- <span class="close">&times;</span> -->
        <div id = "container">
            <form id = "form">
            <h2 class="title">Create your new Listing</h2>
            <label for="name" class ="name">Item Name:</label><br>
            <input type="text" id="name" name="name" placeholder="Item Name" ><br>
            <label for="price" class="price">Item Price:</label><br>
            <input type="text" id="price" name="price" placeholder="Sell Price"><br>
            <label for="description" class ="description">Description:</label><br>
            <input type="text" id="description" name="description" placeholder="Description"><br>
            <label for="image_link" class ="image_link">Image URL:</label><br>
            <input type="text" id="image_link" name="image_link" placeholder="Image URL"><br>
    <!-- maybe have a box here to show the user id of the person who is adding the item -->

            </form>
        </div>
        <br/><br/>
        <button id="confirm" class="itemBtn">Confirm</button><button id="canx" class="itemBtn">Cancel</button>
    </div>

</div>
        <script src="/js/modal.js"></script>
        <script src ="/js/profile.js"></script>