
@keyframes glowBox{
    /* 0% {box-shadow: 0px 0px 5px darkred;}
    15% {box-shadow: 0px 0px 10px purple;}
    40% {box-shadow: 0px 0px 15px darkblue;}
    70% {box-shadow: 0px 0px 10px purple;}
    90% {box-shadow: 0px 0px 5px darkred;} */
    0% {border: 1px solid darkred;}
    /* 25% {border: 1px solid purple;} */
    60% {border: 1px solid darkblue;}
    /* 90% {border: 1px solid purple;} */
    100% {border: 1px solid darkred;}
}

@keyframes bwFont{
    0% {color:black;text-shadow: 0 0 1px white;}
    25% {color:white;text-shadow: 0 0 1px black;}
    50% {color:black;text-shadow: 0 0 1px white;}
    100% {color:white;text-shadow: 0 0 1px black;}
}
@keyframes rwbFont{
    0% {color:red;}
    15% {color:white;}
    50% {color:blue;}
    100% {color:red;}
}

@keyframes itemMove{
    0% {right:-20%;}
    8% {right:0;}
    16% {right:10%;}
    24% {right:20%;}
    32% {right:30%;}
    40% {right:40%;}
    48% {right:50%;}
    56% {right:60%;}
    64% {right:70%;}
    72% {right:80%;}
    80% {right:90%;}
    88% {right:100%;}
    100% {right:120%;}
}