/*
-Steve Barry-
main css file
*/

body{
    width: 100%;
    position: relative;
    background-color: lightgray;
    font-family: arial, helvetica, sans-serif;
    color: white;
    
}
#mainContent{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}


header{
    color: white;
    width: 100%;
    height: 70px;
    background-color: var(--primaryColor);
    background-image: url("/images/bgGreen.png");
    background-repeat: repeat;
    text-align: left;
    padding: 15px;
    padding-left: 10%;
}
footer{
    color: white;
    width: 100%;
    height: 70px;
    background-color:var(--primaryColor);
    background-image: url("/images/bgGreen.png");
    background-repeat: repeat;
    bottom: 0;
    position: fixed;
}
h1{
    width: 80%;
    height: 100%;
    line-height: 100%;
    font-size: 200%;
    display: inline-block;
}
a{
    text-decoration: none;
}




/*****************************
*****  log in ****************
******************************/
#loginSignUp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
}
.logSignForm{
    width: 100%;
}
.loginBox, .signupBox{
    width: 400px;
    margin-top:150px;
    animation: glowBox 8s;
    animation-iteration-count: 99;
    padding: 50px;
    border-radius: 20px;
    height: 400px;

}
.pw{
    padding: 0 10px 3px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 4px;
    line-height: 100%;
}
.logH2{
    margin-bottom: 15px;
    color: var(--primaryColor);
    font-size: 150%;
}
.logSignBtn{
    margin-top: 20px;
    transition: 0.7s;
}
.logSignBtn:hover, .itemBtn:hover{
    border: 1px solid green;
    background-color: var(--primaryColor);;
    color: white;
}
.logSignInput, .logH2{
    margin-bottom: 20px;
}
.logSignInput, .logSignBtn, .itemBtn{
    min-width: 140px;
}
.logSignInput, .logSignBtn{
    width: 100%;
    border-radius:5px;
    height: 40px;
    border: 1px solid lightgray;
}
.logLabel{
    color: black;
}
/************************************/


#buySellBtn{
    display: flex;
    width: 100%;
}


/**********************
********* news ********
**********************/
#news{
    width:40%;
    min-width: 150px;
    height: 200px;
    border: 2px solid var(--primaryColor);
    box-shadow: 1px 1px green;
    border-radius:10px;
    margin:20px 0;
    padding: 10px;
    text-align: center;
}
#newsH3{
    margin-bottom:10px;
    animation: rwbFont 6s;
    animation-iteration-count: 99;
    font-size: 120%;
}
#newsH4{
    margin-bottom:10px;
    font-style: italic;
}


/***********************
******* video ********** 
***********************/
#background-video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
}
#mask{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color:rgba(255,255,255,0.3);
}


.itemBox{
    height:202px;
    width: 202px;
    border: 1px solid green;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
} 
.circle { 
    display: inline-block; 
    position: relative; 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
} 
.circle img { 
    width: auto;
    height: 100%; 
    margin-left: -50px; 
}
.itemH4{
    position: absolute;
    bottom: 40px;
    animation: bwFont 6s;
    animation-iteration-count: 99;
    font-size: 120%;
    width: 202px;
    text-align: center;
    z-index: 5;

}
.itemP{
    position: absolute;
    bottom: 10px;
    animation: bwFont 6s;
    animation-iteration-count: 99;
    width: 202px;
    text-align: center;
    z-index: 5;
}

#displayList{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
}

.itemBtn{
    margin-bottom: 50px;
    transition: 0.7s;
    width: 49%;
    border-radius:5px;
    height: 40px;
    border: 1px solid lightgray;
}
#fullItemList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.fullItemBox{
    
}

/*******************************
******* scroll bar ************* 
*******************************/
.scroll::-webkit-scrollbar {
    background:transparent;
    height: 8px;
}

.scroll::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--primaryColor);    
    border-radius: 10px;  
    border: 1px solid darkgray; 
    height: 5px;
}

/******************************
******** profile page *********
******************************/

#profileDetails{
    margin: 0 auto;
    margin-top: 5%;
    /* animation: glowBox 8s;
    animation-iteration-count: 99;*/
    height: 200px;
    width: 80%;
}
.profileTag{
    margin-bottom: 10px;
    font-size:75%;
    color: var(--primaryColor);
}
.profileOutput{
    margin-bottom: 50px;
    font-size:250%;
}
.listFromProfile{
    margin: 0 auto;
    margin-top: 50px;
    /* width: 200px; */
}

/***************************
** profile modal list ******
****************************/

.title{
    color: var(--primaryColor);
    text-align: center;
    font-size:150%;
    margin-bottom: 15px;
}
.listLabel{
    font-size: 80%;
    margin-bottom:2px;
}
.listInput{
    margin-bottom:25px;
    width: 100%;
    height: 100%;
}